---
import MainLayout from "../layouts/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";
import ArticleCard from "../components/ArticleCard.astro";
import About from "../components/About.astro";
import Recent from "../components/Recent.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import TypeWord from "../components/TypeWord.tsx"

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => {
  // console.log(`Comparing ${a.data.pubDate} with ${b.data.pubDate}`); was debugging for sorting error ! DO NOT DELETE !!
  return (
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  );
});

// console.log("Sorted articles:", allBlogArticles.map(article => ({
//   title: article.data.title,
//   pubDate: article.data.pubDate
// })));

const mostRecentArticles: CollectionEntry<"blog"> = allBlogArticles[0];

const otherArticles: CollectionEntry<"blog">[] = allBlogArticles.slice(1);
---

<MainLayout>
  <!-- Top Grid -->
  <main class="mx-auto max-w-[1080px] md:w-full">
    <div class="">
      <div class="flex flex-col gap-6">
        <h1
          class="text-[70px] leading-[75px] tracking-tighter font-style font-medium mt-4 mb-8 xl:text-[106px]"
        >
        <TypeWord client:load />
        </h1>
        <section class="w-96 text-[24px]">
          Discover tips from articles on keto diet, weight loss, healthy diets
          and lots more.
        </section>
        <SearchForm />
      </div>
      <Recent article={mostRecentArticles} />
    </div>

    <!-- Main Grid -->
    <h2 class="mt-10 font-header text-2xl tracking-tighter">Recent Posts</h2>
    <div class="flex flex-col">
      <!-- Article Card -->
      {
        otherArticles
          .slice(0, HOMEPAGE_ARTICLE_LIMIT)
          .map((article) => <ArticleCard article={article} />)
      }
    </div>
    <!-- <div class="flex flex-col-reverse p-6">
    <Health />
    <Fitness />
    <Gym />
  </div> -->

    <About />
  </main>
</MainLayout>