---
import { formDate } from "../utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";
const { article } =Astro.props

interface Props {
    article: CollectionEntry<'blog'>
    
}


---


<div class="main-card max-w-md mx-auto mt-10">
          <div class="bg-white rounded-lg overflow-hidden ">
            <a href={'/articles/' + article.slug}>
              <img
                src={'/images/' + article.data.image}
                alt="Article Image"
                class="w-80 rounded h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
              />
            </a>
            <div class="w-80 p-6">
              <h2 class="text-2xl text-normal font-semibold mb-2">
                <a href={'/articles/' + article.slug}> {article.data.title} </a>
              </h2>
              <p class="text-gray-600 text-sm mb-4">{formDate(article.data.pubDate)}</p>
              <Tags tags={article.data.tags} />
            </div>
          </div>
        </div>

<style is:global>

  


  h2{
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
  
  p{
    font-weight: 400;
    font-size: 14px;
  }

</style>